table {
    width: 90%;
    margin: 0 auto;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  th {
    background-color: #4CAF50; 
    color: white;
  }
  
  
  tr:nth-child(even) {
    background-color: #e6e6e6; 
  }
  
  tr:nth-child(odd) {
    background-color: #b5e9af; 
  }